<div class="card"></div>
<h5 class="card-header">{{title}}</h5>
<div class="card-body">
    <h5 class="card-title">{{content}}</h5>
    <div >
    <p class="card-text">Posted by {{user_db.name}} on {{formatDate createdAt}}</p>
    </div>
    {{#if logged_in}}
    <form id="add-comment" data-post-id={{id}}>
    <div class="mb-3"></div>
    <label for="content" class="form-label">Add Comment</label>
    <input type="text" class="form-control" id="content">
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    {{/if}}
</div>
{{#each Comments as |comment| }}
<h3>{{comment.content}}</h3>
<p>{{formatDate comment.createdAt}}</p>
<p>{{comment.user_db.name}}</p>
{{/each}}
</div>
{{#if logged_in}}
<script src="/js/comment.js"></script>
{{/if}}